<template>
	<main class="main">
		<!-- Breadcrumb -->
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Escritorio</a></li>
		</ol>
		<div class="container-fluid">
			<!-- Ejemplo de tabla Listado -->
			<div class="card">
				<div class="card-header">
					<i class="fa fa-align-justify"></i> Articulo
					<button type="button" @click="abrirModal('articulo','registrar')" class="btn btn-secondary">
						<i class="icon-plus"></i>&nbsp;Nuevo
					</button>
					<button type="button" @click="cargarPdf()" class="btn btn-info">
						<i class="icon-doc"></i>&nbsp;Reporte
					</button>  
				</div>
				<div class="card-body">
					<div class="form-group row">
						<div class="col-md-6">
							<div class="input-group">
								<select class="form-control col-md-3" v-model="criterio">
									<option value="nombre">Nombre</option>
									<option value="descripcion">Descripción</option>
								</select>
								<input type="text" v-model="buscar" @keyup.enter="listarArticulos(1, buscar, criterio)" class="form-control" placeholder="Texto a buscar">
								<button type="submit" @click="listarArticulos(1, buscar, criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
							</div>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered table-striped table-sm">
							<thead>
								<tr>
									<th>Opciones</th>
									<th>Codigo</th>                                   
									<th>Nombre</th>
									<th>Categoria</th>
									<th>Precio de venta</th>
									<th>Stock</th>
									<th>Descripción</th>
									<th>Estado</th>
								</tr>
							</thead>
							<tbody>
								<!-- directivas de Vuejs para mostrar el listado de la tabla articulo -->
								<tr v-for="articulo in arrayArticulo" v-bind:key="articulo.id">
									<td>
										<button type="button" @click="abrirModal('articulo','modificar',articulo)" class="btn btn-warning btn-sm">
											<i class="icon-pencil"></i>
										</button> &nbsp;
										
										<template v-if="articulo.condicion">
											<button type="button" class="btn btn-danger btn-sm" @click="desactivarArticulo(articulo.id)">
												<i class="icon-trash"></i>
											</button>                                                                                                                                 
										</template>
										<template v-else>
											<button type="button" class="btn btn-info btn-sm" @click="activarArticulo(articulo.id)">
												<i class="icon-check"></i>
											</button>                                            
										</template>
									</td>
									<td v-text="articulo.codigo"></td>
									<td v-text="articulo.nombre"></td>
									<td v-text="articulo.nombre_categoria"></td>
									<td v-text="articulo.precio_venta"></td>
									<td v-text="articulo.stock"></td>
									<td v-text="articulo.descripcion"></td>
									<td>
										<div v-if="articulo.condicion==1">
											<span class="badge badge-success">Activo</span>
										</div>
										<div v-else>
											<span class="badge badge-danger">Desactivado</span>
										</div>
										
									</td>
								</tr>                                                                                                                        
							</tbody>
						</table>
					</div>
					<nav>
						<ul class="pagination">
							<li class="page-item" v-if="pagination.current_page > 1">
								<a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1 , buscar , criterio)">Ant</a>
							</li>
							<li class="page-item " v-for="page in pageNumber" v-bind:key="page" :class="[page == isActived  ? 'active' : '']">
								<a class="page-link" href="#" @click.prevent="cambiarPagina(page, buscar, criterio)" v-text="page"></a>
							</li>
							<li class="page-item" v-if="pagination.current_page < pagination.last_page">
								<a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1 , buscar, criterio)">Sig</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- Fin ejemplo de tabla Listado -->
		</div>
		<!--Inicio del modal agregar/actualizar-->
		<div class="modal fade"  tabindex="-1" v-bind:class="{'mostrar':modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-primary modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" v-text="tituloModal"></h4>
						<button type="button" class="close" @click="cerrarModal2()" aria-label="Close" >
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
							<div class="form-group row">
								<label class="col-md-3 form-control-label" for="text-input">Categoria</label>
								<div class="col-md-9">
									<select  class="form-control" v-model="idcategoria">
										<option value="0" disabled>Seleccione</option>
										<option v-for="categoria in arrayCategoria" v-bind:key="categoria.id " v-bind:value="categoria.id" v-text="categoria.nombre" ></option>
									</select>                                       
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 form-control-label" for="text-input">Codigo</label>
								<div class="col-md-9">
									<input type="text" v-model="codigo" class="form-control" placeholder="Codigo de barra">
									<barcode v-bind:value="codigo" v-bind:option="{format : 'EAN-13'}">
										generando codigo de barra.
									</barcode>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 form-control-label" for="text-input">Nombre</label>
								<div class="col-md-9">
									<input type="text" v-model="nombre" class="form-control" placeholder="Nombre de Articulo">
									
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 form-control-label" for="text-input">Precio de Venta</label>
								<div class="col-md-9">
									<input type="number" v-model="precio_venta" class="form-control" placeholder="Precio de venta">
									
								</div>
							</div>  
							<div class="form-group row">
								<label class="col-md-3 form-control-label" for="text-input">Stock</label>
								<div class="col-md-9">
									<input type="number" v-model="stock" class="form-control" placeholder="Precio de venta">
									
								</div>
							</div> 
							<div class="form-group row">
								<label class="col-md-3 form-control-label" for="text-input">Descripción</label>
								<div class="col-md-9">
									<input type="text" v-model="descripcion" class="form-control" >
								</div>                                    
							</div>
							<div v-show="errorArticulo" class="form-group row div-error">
								<div class="text-center text-error">
									<div v-for="error in errorMostrarMsjArticulo" v-bind:key="error" v-text="error" >

									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" @click="cerrarModal2()">Cerrar</button>
						<button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="agregarArticulo()">Guardar</button>
						<button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="modificarArticulo()">Modificar</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!--Fin del d modal-->
		
	</main>
</template>

<script>
import VueBarcode from "vue-barcode";
export default {
	data() {
		return {
			articulo_id: 0,
			idcategoria: 0,
			nombre_categoria: "",
			codigo: "",
			nombre: "",
			precio_venta: 0,
			stock: 0,
			descripcion: "",
			arrayArticulo: [],
			modal: 0,
			tituloModal: "",
			tipoAccion: 0,
			errorArticulo: 0,
			errorMostrarMsjArticulo: [],
			arrayCategoria: [],
			pagination: {
				total: 0,
				current_page: 0,
				per_page: 0,
				last_page: 0,
				from: 0,
				to: 0
			},
			offset: 3,
			criterio: "nombre",
			buscar: "",
			arrayCategoria: []
		};
	},
	components: {
		barcode: VueBarcode
	},
	computed: {
		isActived: function() {
			return this.pagination.current_page;
		},
		//calcula los elementos de la paginacion
		pageNumber: function() {
			if (!this.pagination.to) {
				return [];
			}
			var from = this.pagination.current_page - this.offset;
			if (from < 1) {
				from = 1;
			}
			var to = from + this.offset * 2;
			if (to >= this.pagination.last_page) {
				to = this.pagination.last_page;
			}
			var arrayPage = [];
			while (from <= to) {
				arrayPage.push(from);
				from++;
			}
			return arrayPage;
		}
	},
	methods: {
	 
		//metodo para listar las categorias almacenadas en la tabla categoria
		listarArticulos(page, buscar, criterio) {
			let me = this;
			var url ="/articulo?page=" + page + "&buscar=" + buscar + "&criterio=" + criterio;
			axios.get(url).then(function(response) {
					var respuesta = response.data;
					me.arrayArticulo = respuesta.articulos.data;
					me.pagination = respuesta.pagination;
				})
				.catch(function(error) {
					console.log(error);
				});
		},
		//metodo cambiar pagina
		cambiarPagina(page, buscar, criterio) {
			let me = this;
			//Actualiza la pagina actual
			me.pagination.current_page = page;
			//Envia la peticion para visualizar la data de esa pagina
			me.listarArticulos(page, buscar, criterio);
		},
		cargarPdf(){
			window.open('http://127.0.0.1:8000/articulo/listarPdf', '_blank');
		},
		//metodo agregar categoria
		agregarArticulo() {
			if (this.validarArticulo()) {
				return;
			}

			let me = this;
			axios.post("/articulo/registrar", {
					idcategoria: this.idcategoria,
					codigo: this.codigo,
					nombre: this.nombre,
					precio_venta: this.precio_venta,
					stock: this.stock,
					descripcion: this.descripcion
				}).then(function(response) {
					me.cerrarModal();
					me.listarArticulos(1, " ", "nombre");
				})
				.catch(function(error) {
					console.log(error);
			});
		},
		modificarArticulo() {
			if (this.validarArticulo()) {
				return;
			}

			let me = this;
			axios.put("/articulo/actualizar", {
					idcategoria: this.idcategoria,
					codigo: this.codigo,
					nombre: this.nombre,
					precio_venta: this.precio_venta,
					stock: this.stock,
					descripcion: this.descripcion,
					id: this.articulo_id
			}).then(function(response) {
					me.cerrarModal();
					me.listarArticulos(1, " ", "nombre");
				}).catch(function(error) {
					console.log(error);
			});
		},
		desactivarArticulo(id) {
			swal({
				title: "Esta seguro de desactivar este articulo?",

				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: "Aceptar",
				cancelButtonText: "Cancelar",
				confirmButtonClass: "btn btn-success",
				cancelButtonClass: "btn btn-danger",
				buttonsStyling: false,
				reverseButtons: true
			}).then(result => {
				if (result.value) {
					let me = this;
					axios
						.put("/articulo/desactivar", {
							id: id
						})
						.then(function(response) {
							swal(
								"Desactivado!",
								"El registro ha sido desactivado con exito!",
								"success"
							);
							me.listarArticulos(1, " ", "nombre");
						})
						.catch(function(error) {
							console.log(error);
						});
				} else if (
					// Read more about handling dismissals
					result.dismiss === swal.DismissReason.cancel
				) {
					swal();
				}
			});
		},
		activarArticulo(id) {
			swal({
				title: "Esta seguro de activar este articulo?",
				//
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: "Aceptar",
				cancelButtonText: "Cancelar",
				confirmButtonClass: "btn btn-success",
				cancelButtonClass: "btn btn-danger",
				buttonsStyling: false,
				reverseButtons: true
			}).then(result => {
				if (result.value) {
					let me = this;
					axios
						.put("/articulo/activar", {
							id: id
						})
						.then(function(response) {
							swal(
								"Activado!",
								"El registro ha sido activado con exito!",
								"success"
							);
							me.listarArticulos(1, " ", "nombre");
						})
						.catch(function(error) {
							console.log(error);
						});
				} else if (
					// Read more about handling dismissals
					result.dismiss === swal.DismissReason.cancel
				) {
					swal();
				}
			});
		},
		validarArticulo() {
			this.errorArticulo = 0;
			this.errorMostrarMsjArticulo = [];
			if (this.idcategoria == 0) {
				this.errorMostrarMsjArticulo.push(
					"Error tiene que seleccionar una categoria!"
				);
			}
			if (!this.stock) {
				this.errorMostrarMsjArticulo.push(
					"Error el valor de stock tiene que ser numerico y no estar vacio!"
				);
			}
			if (!this.precio_venta) {
				this.errorMostrarMsjArticulo.push(
					"Error el precio del articulo debe ser un numero y no estar vacio!"
				);
			}
			if (!this.nombre)
				this.errorMostrarMsjArticulo.push(
					"Error debe ingresar el nombre del articulo!"
				);

			if (this.errorMostrarMsjArticulo.length) this.errorArticulo = 1;

			return this.errorArticulo;
		},
		selectCategoria() {
			let me = this;
			var url = "/categoria/selectCategoria";
			axios.get(url).then(function(response) {
				var respuesta = response.data;
				me.arrayCategoria = respuesta.categorias;
			}).catch(function(error) {
				console.log(error);
			});
		},
		//metodo para cerrar el modal
		cerrarModal() {
			this.modal = 0;
			this.tituloModal = "";
			this.idcategoria = 0;
			this.nombre_categoria = "";
			this.codigo = "";
			this.nombre = "";
			this.precio_venta = 0;
			this.stock = 0;
			this.descripcion = "";
			this.errorArticulo = 0;
			
		},
		cerrarModal2() {
			swal({
				title: "Esta seguro de salir",
				text: "Esta seguro de salir",
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: "Si"
			}).then(result => {
				if (result.value) {
					this.modal = 0;
					this.tituloModal = "";
					this.idcategoria = 0;
					this.nombre_categoria = "";
					this.codigo = "";
					this.nombre = "";
					this.precio_venta = 0;
					this.stock = 0;
					this.descripcion = "";
					this.errorArticulo = 0;
					delete this.errorMostrarMsjCategoria;
					swal();
				}
			});
		},
		//metodo para la ventana emergente
		abrirModal(modelo, accion, data = []) {
			switch (modelo) {
				case "articulo": {
					switch (accion) {
						case "registrar": {
							this.modal = 1;
							this.tituloModal = "Agregar Articulo";
							this.idcategoria = 0;
							this.nombre_categoria = "";
							this.codigo = "";
							this.nombre = "";
							this.precio_venta = 0;
							this.stock = 0;
							this.descripcion = "";
							this.tipoAccion = 1;
							break;
						}
						case "modificar": {
							this.modal = 1;
							this.tituloModal = "Actualizar Articulo";
							this.tipoAccion = 2;
							this.articulo_id = data["id"];
							this.idcategoria = data["idcategoria"];
							this.codigo = data["codigo"];
							this.nombre = data["nombre"];
							this.precio_venta = data["precio_venta"];
							this.stock = data["stock"];
							this.descripcion = data["descripcion"];
							console.log(data);
							break;
						}
					}
				}
			}
			this.selectCategoria();
		}
	},
	mounted() {
		this.listarArticulos(1, this.buscar, this.criterio);
	}
};

</script>

<style>
.modal-content {
	width: 100% !important;
	position: absolute !important;
}
.mostrar {
	display: list-item !important;
	opacity: 1 !important;
	position: absolute !important;
	background-color: #3c29297a !important;
}
.div-error {
	display: flex;
	justify-content: center;
}
.text-error {
	color: red !important;
	font-weight: bold;
}
</style>