<template>
	<main class="main">
		<!-- Breadcrumb -->
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Escritorio</a></li>
		</ol>
		<div class="container-fluid">
			<!-- Ejemplo de tabla Listado -->
			<div class="card">
				<div class="card-header">
					<i class="fa fa-align-justify"></i> Categorías
					<button type="button" @click="abrirModal('categoria','registrar')" class="btn btn-secondary">
						<i class="icon-plus"></i>&nbsp;Nuevo
					</button>
				</div>
				<div class="card-body">
					<div class="form-group row">
						<div class="col-md-6">
							<div class="input-group">
								<select class="form-control col-md-3" v-model="criterio">
									<option value="nombre">Nombre</option>
									<option value="descripcion">Descripción</option>
								</select>
								<input type="text" v-model="buscar" @keyup.enter="listarCategorias(1, buscar, criterio)" class="form-control" placeholder="Texto a buscar">
								<button type="submit" @click="listarCategorias(1, buscar, criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
							</div>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered table-striped table-sm">
							<thead>
								<tr>
									<th>Opciones</th>
									<th>Nombre</th>
									<th>Descripción</th>
									<th>Estado</th>
								</tr>
							</thead>
							<tbody>
								<!-- directivas de Vuejs para mostrar el listado de la tabla categoria -->
								<tr v-for="categoria in arrayCategoria" v-bind:key="categoria.id">
									<td>
										<button type="button" @click="abrirModal('categoria','modificar',categoria)" class="btn btn-warning btn-sm">
											<i class="icon-pencil"></i>
										</button> &nbsp;
										
										<template v-if="categoria.condicion">
											<button type="button" class="btn btn-danger btn-sm" @click="desactivarCategoria(categoria.id)">
												<i class="icon-trash"></i>
											</button>                                                                                                                                 
										</template>
										<template v-else>
											<button type="button" class="btn btn-info btn-sm" @click="activarCategoria(categoria.id)">
												<i class="icon-check"></i>
											</button>                                            
										</template>
									</td>
									<td v-text="categoria.nombre"></td>
									<td v-text="categoria.descripcion"></td>
									<td>
										<div v-if="categoria.condicion==1">
											<span class="badge badge-success">Activo</span>
										</div>
										<div v-else>
											<span class="badge badge-danger">Desactivado</span>
										</div>
										
									</td>
								</tr>                                                                                                                        
							</tbody>
						</table>
					</div>
					<nav>
						<ul class="pagination">
							<li class="page-item" v-if="pagination.current_page > 1">
								<a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1 , buscar , criterio)">Ant</a>
							</li>
							<li class="page-item " v-for="page in pageNumber" v-bind:key="page" :class="[page == isActived  ? 'active' : '']">
								<a class="page-link" href="#" @click.prevent="cambiarPagina(page, buscar, criterio)" v-text="page"></a>
							</li>
							<li class="page-item" v-if="pagination.current_page < pagination.last_page">
								<a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1 , buscar, criterio)">Sig</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- Fin ejemplo de tabla Listado -->
		</div>
		<!--Inicio del modal agregar/actualizar-->
		<div class="modal fade"  tabindex="-1" v-bind:class="{'mostrar':modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-primary modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" v-text="tituloModal"></h4>
						<button type="button" class="close" @click="cerrarModal()" aria-label="Close" >
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
							<div class="form-group row">
								<label class="col-md-3 form-control-label" for="text-input">Nombre</label>
								<div class="col-md-9">
									<input type="text" v-model="nombre" class="form-control" placeholder="Nombre de categoría">
									
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 form-control-label" for="text-input">Descripción</label>
								<div class="col-md-9">
									<input type="text" v-model="descripcion" class="form-control" placeholder="Ingrese descripción">
								</div>
								
							</div>
							<div v-show="errorCategoria" class="form-group row div-error">
								<div class="text-center text-error">
									<div v-for="error in errorMostrarMsjCategoria" v-bind:key="error" v-text="error" >

									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
						<button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="agregarCategoria()">Guardar</button>
						<button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="modificarCategoria()">Modificar</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!--Fin del modal-->
		
	</main>
</template>

<script>
export default {
	data() {
		return {
			categoria_id: 0,
			nombre: "",
			descripcion: "",
			arrayCategoria: [],
			modal: 0,
			tituloModal: "",
			tipoAccion: 0,
			errorCategoria: 0,
			errorMostrarMsjCategoria: [],
			pagination: {
				total: 0,
				current_page: 0,
				per_page: 0,
				last_page: 0,
				from: 0,
				to: 0
			},
			offset: 3,
			criterio: "nombre",
			buscar: ""
		};
	},
	computed: {
		isActived: function() {
			return this.pagination.current_page;
		},
		//calcula los elementos de la paginacion
		pageNumber: function() {
			if (!this.pagination.to) {
				return [];
			}
			var from = this.pagination.current_page - this.offset;
			if (from < 1) {
				from = 1;
			}
			var to = from + this.offset * 2;
			if (to >= this.pagination.last_page) {
				to = this.pagination.last_page;
			}
			var arrayPage = [];
			while (from <= to) {
				arrayPage.push(from);
				from++;
			}
			return arrayPage;
		}
	},
	methods: {
		//metodo para listar las categorias almacenadas en la tabla categoria
		listarCategorias(page, buscar, criterio) {
			let me = this;
			var url =
			"/categoria?page=" +
			page +
			"&buscar=" +
			buscar +
			"&criterio=" +
			criterio;
			axios
			.get(url)
			.then(function(response) {
				var respuesta = response.data;
				me.arrayCategoria = respuesta.categorias.data;
				me.pagination = respuesta.pagination;
			})
			.catch(function(error) {
				console.log(error);
			});
		},
		//metodo cambiar pagina
		cambiarPagina(page, buscar, criterio) {
			let me = this;
			//Actualiza la pagina actual
			me.pagination.current_page = page;
			//Envia la peticion para visualizar la data de esa pagina
			me.listarCategorias(page, buscar, criterio);
		},
		//metodo agregar categoria
		agregarCategoria() {
			if (this.validarCategoria()) {
				return;
			}

			let me = this;
			axios
			.post("/categoria/registrar", {
				nombre: this.nombre,
				descripcion: this.descripcion
			})
			.then(function(response) {
				me.cerrarModal();
				me.listarCategorias(1, " ", "nombre");
			})
			.catch(function(error) {
				console.log(error);
			});
		},
		modificarCategoria() {
			if (this.validarCategoria()) {
				return;
			}

			let me = this;
			axios
			.put("/categoria/actualizar", {
				nombre: this.nombre,
				descripcion: this.descripcion,
				id: this.categoria_id
			})
			.then(function(response) {
				me.cerrarModal();
				me.listarCategorias(1, " ", "nombre");
			})
			.catch(function(error) {
				console.log(error);
			});
		},
		desactivarCategoria(id) {
			swal({
				title: "Esta seguro de desactivar esta categoria?",

				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: "Aceptar",
				cancelButtonText: "Cancelar",
				confirmButtonClass: "btn btn-success",
				cancelButtonClass: "btn btn-danger",
				buttonsStyling: false,
				reverseButtons: true
			}).then(result => {
				if (result.value) {
					let me = this;
					axios
					.put("/categoria/desactivar", {
						id: id
					})
					.then(function(response) {
						swal(
							"Desactivado!",
							"El registro ha sido desactivado con exito!",
							"success"
							);
						me.listarCategorias(1, " ", "nombre");
					})
					.catch(function(error) {
						console.log(error);
					});
				} else if (
					// Read more about handling dismissals
					result.dismiss === swal.DismissReason.cancel
					) {
					swal();
				}
			});
		},
		activarCategoria(id) {
			swal({
				title: "Esta seguro de activar esta categoria?",

				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: "Aceptar",
				cancelButtonText: "Cancelar",
				confirmButtonClass: "btn btn-success",
				cancelButtonClass: "btn btn-danger",
				buttonsStyling: false,
				reverseButtons: true
			}).then(result => {
				if (result.value) {
					let me = this;
					axios
					.put("/categoria/activar", {
						id: id
					})
					.then(function(response) {
						swal(
							"Activado!",
							"El registro ha sido activado con exito!",
							"success"
							);
						me.listarCategorias(1, " ", "nombre");
					})
					.catch(function(error) {
						console.log(error);
					});
				} else if (
					// Read more about handling dismissals
					result.dismiss === swal.DismissReason.cancel
					) {
					swal();
				}
			});
		},
		validarCategoria() {
			this.errorCategoria = 0;
			this.errorMostrarMsjCategoria = [];
			//
			if (!this.nombre)
				this.errorMostrarMsjCategoria.push(
					"Error debe ingresar el nombre de la categoria!"
					);

			if (this.errorMostrarMsjCategoria.length) this.errorCategoria = 1;

			return this.errorCategoria;
		},
		//metodo para cerrar el modal
		cerrarModal() {
			this.modal = 0;
			this.tituloModal = "";
			this.nombre = "";
			this.descripcion = "";
			this.errorCategoria = 0;
		},
		//metodo para la ventana emergente
		abrirModal(modelo, accion, data = []) {
			switch (modelo) {
				case "categoria": {
					switch (accion) {
						case "registrar": {
							this.modal = 1;
							this.tituloModal = "Agregar Categoria";
							this.nombre = "";
							this.descripcion = "";
							this.tipoAccion = 1;
							break;
						}
						case "modificar": {
							this.modal = 1;
							this.tituloModal = "Actualizar Categoria";
							this.tipoAccion = 2;
							this.categoria_id = data["id"];
							this.nombre = data["nombre"];
							this.descripcion = data["descripcion"];
							break;
						}
					}
				}
			}
		}
	},
	mounted() {
		this.listarCategorias(1, this.buscar, this.criterio);
	}
};
</script>
<style>
.modal-content {
	width: 100% !important;
	position: absolute !important;
}
.mostrar {
	display: list-item !important;
	opacity: 1 !important;
	position: absolute !important;
	background-color: #3c29297a !important;
}
.div-error {
	display: flex;
	justify-content: center;
}
.text-error {
	color: red !important;
	font-weight: bold;
}
</style>

