<template>
   <main class="main">
       <!--Breadcrumd-->
       <ol class="breadcrumb">
           <li><a href="/">Escritorio</a></li>
       </ol>
       <div class="container-fluid">
           <div class="card">
               <div class="card-header">
                   <div class="card-body">
                       <div class="row">
                           <div class="col-md-6">
                               <div class="card card-chart">
                                   <div class="card-header">
                                       <h4>Ingresos</h4>
                                   </div>
                                   <div class="card-content">
                                       <div class="ct-chart">
                                           <canvas id="ingresos">

                                           </canvas>
                                       </div>
                                   </div>
                                   <div class="card-footer">
                                       <p>Compras del último mes</p>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-6">
                               <div class="card card-chart">
                                   <div class="card-header">
                                       <h4>Ventas</h4>
                                   </div>
                                   <div class="card-content">
                                       <div class="ct-chart">
                                           <canvas id="Ventas">

                                           </canvas>
                                       </div>
                                   </div>
                                   <div class="card-footer">
                                       <p>Ventas del último mes</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="container-fluid">
           <div class="card">
               <div class="card-header">
                   <div class="card-body">
                       <div class="row">
                           <div class="col-md-6">
                               <div class="card card-chart">
                                   <div class="card-header">
                                       <h4>Ingresos-Ventas</h4>
                                   </div>
                                    <div class="card-content">
                                       <div class="ct-chart">
                                           <canvas id="ingresos-ventas">

                                           </canvas>
                                       </div>
                                   </div>
                                   <div class="card-footer">
                                       <p>Compras-Ventas</p>
                                   </div>
                               </div>    
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </main> 
</template>
<script>
    export default {
        data(){
            return {
                varIngreso:null,
                charIngreso:null,
                ingresos:[],
                varTotalIngreso:[],
                varMesIngreso:[],

                varVenta:null,
                charVenta:null,
                ventas:[],
                varTotalVenta:[],
                varMesVenta:[],     

                charVenta_Ingreso: null,                
                varTotalVenta1:[],
                varMesVenta1:[],        
            }
        },
        methods : {
            getIngresos(){
                let me = this;
                var url = '/dashboard';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.ingresos = respuesta.ingresos;
                    //cargamos los datos del chart
                    me.loadIngresos();
                })
                .catch(function (error){
                    console.log(error);
                });
            },
            
            getVentas(){
                let me=this;
                var url= '/dashboard';
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.ventas = respuesta.ventas;
                    //cargamos los datos del chart
                    me.loadVentas();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            getventas_ingresos(){
                let me=this;
                var url= '/dashboard';
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.ventas = respuesta.ventas;
                    //cargamos los datos del chart
                    me.loadventas_ingresos();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            loadIngresos(){
                let me = this;
                me.ingresos.map(function(x){
                    switch (x.mes) {
                        case 1:
                            x.mes = 'Enero';
                            break;
                        case 2:
                            x.mes = 'Febrero';
                            break;
                        case 3:
                            x.mes = 'Marzo';
                            break;
                        case 4:
                            x.mes = 'Abril';
                            break;
                        case 5:
                            x.mes = 'Mayo';
                            break;
                        case 6:
                            x.mes = 'Junio';
                            break;
                        case 7:
                            x.mes = 'Julio';
                            break;
                        
                        case 8:
                            x.mes = 'Agosto';
                            break;
                        
                        case 9:
                            x.mes = 'Septiembre';
                            break;
                        
                        case 10:
                            x.mes = 'Octubre';
                            break;
                        
                        case 11:
                            x.mes = 'Noviembre';
                            break;
                        
                        case 12:
                            x.mes = 'Diciembre';
                            break;                
                        default:
                            break;
                    }
                    me.varMesIngreso.push(x.mes);
                    me.varTotalIngreso.push(x.total);
                });
                me.varIngreso=document.getElementById('ingresos').getContext('2d');

                me.charIngreso = new Chart(me.varIngreso, {
                    type: 'bar',
                    data: {
                        labels: me.varMesIngreso,
                        datasets: [{
                            label: 'Ingresos',
                            data: me.varTotalIngreso,
                            backgroundColor: 
                                'rgba(255, 99, 132, 0.2)',
                            
                            borderColor: 
                                'rgba(255,99,132,1)',
                            
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            },

            loadVentas(){
                let me=this;
                me.ventas.map(function(x){
                    switch (x.mes) {
                        case 1:
                            x.mes = 'Enero';
                            break;
                        case 2:
                            x.mes = 'Febrero';
                            break;
                        case 3:
                            x.mes = 'Marzo';
                            break;
                        case 4:
                            x.mes = 'Abril';
                            break;
                        case 5:
                            x.mes = 'Mayo';
                            break;
                        case 6:
                            x.mes = 'Junio';
                            break;
                        case 7:
                            x.mes = 'Julio';
                            break;
                        
                        case 8:
                            x.mes = 'Agosto';
                            break;
                        
                        case 9:
                            x.mes = 'Septiembre';
                            break;
                        
                        case 10:
                            x.mes = 'Octubre';
                            break;
                        
                        case 11:
                            x.mes = 'Noviembre';
                            break;
                        
                        case 12:
                            x.mes = 'Diciembre';
                            break;                
                        default:
                            break;
                    }
                    me.varMesVenta.push(x.mes);
                    me.varTotalVenta.push(x.total);
                });
                me.varVenta=document.getElementById('Ventas').getContext('2d');

                me.charVenta = new Chart(me.varVenta, {
                    type: 'bar',
                    data: {
                        labels: me.varMesVenta,
                        datasets: [{
                            label: 'Ventas',
                            data: me.varTotalVenta,
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 0.2)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            },
            loadventas_ingresos(){
                let me=this;
                me.ventas.map(function(x){
                    switch (x.mes) {
                        case 1:
                            x.mes = 'Enero';
                            break;
                        case 2:
                            x.mes = 'Febrero';
                            break;
                        case 3:
                            x.mes = 'Marzo';
                            break;
                        case 4:
                            x.mes = 'Abril';
                            break;
                        case 5:
                            x.mes = 'Mayo';
                            break;
                        case 6:
                            x.mes = 'Junio';
                            break;
                        case 7:
                            x.mes = 'Julio';
                            break;
                        
                        case 8:
                            x.mes = 'Agosto';
                            break;
                        
                        case 9:
                            x.mes = 'Septiembre';
                            break;
                        
                        case 10:
                            x.mes = 'Octubre';
                            break;
                        
                        case 11:
                            x.mes = 'Noviembre';
                            break;
                        
                        case 12:
                            x.mes = 'Diciembre';
                            break;                
                        default:
                            break;
                    }
                    me.varMesVenta1.push(x.mes);
                    me.varTotalVenta1.push(x.total);
                });
                me.varVenta=document.getElementById('ingresos-ventas').getContext('2d');
                //me.varIngreso=document.getElementById('ingresos-ventas').getContext('2d')

                me.charVenta_Ingreso = new Chart(me.varVenta, {
                    type: 'bar',
                    data: {
                        labels: me.varMesVenta1,
                        datasets: [{
                            label: 'Ventas',
                            data: me.varTotalVenta1,
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 0.2)',
                            borderWidth: 1
                        },{
                            label: 'Ingreso',
                            data: me.varTotalIngreso,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255,99,132,1)',
                            borderWidth: 1

                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            },
        },
        mounted(){
            this.getIngresos();
            this.getVentas();
            this.getventas_ingresos();
        }
    } 
</script>
