<template>
	<main class="main">
	<!-- Breadcrumb -->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Escritorio</a></li>
	</ol>
	<div class="container-fluid">
		<!-- Ejemplo de tabla Listado -->
		<div class="card">
		<div class="card-header">
			<i class="fa fa-align-justify"></i> Ingresos
			<button type="button" @click="mostrarDetalle()" class="btn btn-secondary">
			<i class="icon-plus"></i>&nbsp;Nuevo
			</button> 
		</div>
		<!--Listado-->
		<template v-if="listado==1">
			<div class="card-body">
			<div class="form-group row">
				<div class="col-md-6">
				<div class="input-group">
					<select class="form-control col-md-3" v-model="criterio">
					<option value="tipo_comprobante">Tipo de Comprobante</option>
					<option value="num_comprobante">Número de Comprobante</option>
					<option value="fecha_hora">Fecha-Hora</option>                                      
					</select>
					<input type="text" v-model="buscar" @keyup.enter="listarIngreso(1, buscar, criterio)" class="form-control" placeholder="Texto a buscar">
					<button type="submit" @click="listarIngreso(1, buscar, criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
				</div>                
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-bordered table-striped table-sm">
				<thead>
					<tr>
					<th>Opciones</th>
					<th>Usuario</th>
					<th>Proveedor</th>
					<th>Tipo Comprobante</th>
					<th>Serie Comprobante</th>                                    
					<th>Número Comprobante</th>
					<th>Fecha-Hora</th>
					<th>Total</th>
					<th>Impuesto</th>
					<th>Estado</th>                                                                        
					</tr>
				</thead>
				<tbody >
					<!-- directivas de Vuejs para mostrar el listado de la tabla articulo -->
					<tr v-for="ingreso in arrayIngreso" v-bind:key="ingreso.id">
					<td>
						<button type="button" @click="verIngreso(ingreso.id)" class="btn btn-success btn-sm">
						<i class="icon-eye"></i>
						</button> &nbsp;                      
						<template v-if="ingreso.estado == 'Registrado'">
						<button type="button" class="btn btn-danger btn-sm" @click="desactivarIngreso(ingreso.id)">
							<i class="icon-trash"></i>
						</button>                                                                                                                                 
						</template>
					</td>
					<td v-text="ingreso.usuario"></td>
					<td v-text="ingreso.nombre"></td>
					<td v-text="ingreso.tipo_comprobante"></td>
					<td v-text="ingreso.serie_comprobante"></td>
					<td v-text="ingreso.num_comprobante"></td>
					<td v-text="ingreso.fecha_hora"></td>
					<td v-text="ingreso.total"></td>
					<td v-text="ingreso.impuesto"></td>
					<td v-text="ingreso.estado"></td>                                      
					</tr>                                                                                                                        
				</tbody>
				</table>
			</div>
			<nav>
				<ul class="pagination">
				<li class="page-item" v-if="pagination.current_page > 1">
					<a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1 , buscar , criterio)">Ant</a>
				</li>
				<li class="page-item " v-for="page in pageNumber" v-bind:key="page" :class="[page == isActived  ? 'active' : '']">
					<a class="page-link" href="#" @click.prevent="cambiarPagina(page, buscar, criterio)" v-text="page"></a>
				</li>
				<li class="page-item" v-if="pagination.current_page < pagination.last_page">
					<a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1 , buscar, criterio)">Sig</a>
				</li>
				</ul>
			</nav>
			</div>         
		</template>
		<!--Fin de listado-->
		
		<!--Detalle-->
		<template v-else-if="listado==0">
		<div class="card-body">
			<div class="form-group row border">
				<div class="col-md-9">
				<div class="form-group">
					<label for="">Proveedor(*)</label>
					<v-select
					:on-search="selectProveedor"
					label='nombre'
					:options="arrayProveedor"
					placeholder = "Buscar proveedores..."
					:onChange="getDatosProveedor"
					>
					<template slot="no-options">
					No se encontrarón coincidencias!...
					</template>
				</v-select>
				</div>
			</div>                        
			<div class="col-md-3">
				<label for="">Impuesto(*)</label>
				<input type="text" class="form-control" v-model="impuesto">
			</div>
			<div class="col-md-4">
				<div class="form-group">                            
				<label>Tipo de comprobante(*)</label>
				<select class="form-control" v-model="tipo_comprobante">
					<option value="0">Seleccione</option>
					<option value="RUC">RUC</option>
					<option value="Boleta">Boleta</option>
					<option value="Ticket">Ticket</option>
				</select>                  
				</div>                         
			</div>      
			<div class="col-md-4">
				<div class="form-group">
				<label for="">Serie de Comprobante(*)</label>
				<input type="text" class="form-control" v-model="serie_comprobante" placeholder="000x">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
				<label for="">Número de comprobante (*)</label>
				<input type="text" class="form-control" v-model="num_comprobante" placeholder="000x">
				</div>
			</div>
			<div class="col-md-12">            
				<div v-show="errorIngreso" class="form-group row div-error">
				<div class="text-center text-error">
					<div v-for="error in errorMostrarMsjIngreso" v-bind:key="error" v-text="error" >
					</div>
				</div>
				</div>
			</div>  
			</div>  
			<div class="form-group row border">
			<div class="col-md-6">
				<div class="form-group">
				<label for="">Articulo <span style="color: red;" v-show="idarticulo==0">(*Seleccione)</span></label>
				<div class="form-inline">
					<input type="text" class="form-control" v-model="codigo" @keyup.enter="buscarArticulo()" placeholder="Ingrese articulo">
					<input type="text" readonly class="form-control" v-model="articulo">
					<button @click="abrirModal()" class="btn btn-primary">...</button>
				</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
				<label for="">Precio <span style="color: red;" v-show="precio==0">(*Ingrese)</span></label>
				<input type="number" value="0" step="any" class="form-control" v-model="precio">
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
				<label for="">Cantidad <span style="color: red;" v-show="cantidad==0">(*Ingrese)</span></label>
				<input type="number" value="0"  class="form-control" v-model="cantidad">
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
				<button class="btn btn-success form-control btnagregar" @click="agregarDetalle()"><i class="icon-plus"></i></button>
				</div>
			</div>                        
			</div>
			<div class="form-group row border">
			<div class="table-responsive col-md-12">
				<table class="table table-bordered table-striped table-sm">
				<thead>
					<tr>
					<th>Opciones</th>
					<th>Artículo</th>
					<th>Precio</th>
					<th>Cantidad</th>
					<th>Subtotal</th>
					</tr>                             
				</thead>
				<tbody v-if="arrayDetalle.length">
					<tr v-for="(detalle,index) in arrayDetalle" :key="detalle.id">
					<td>
						<button @click="eliminarDetalle(index)" type="button" class="btn btn-danger btn-sm">
						<i class="icon-close"></i>
						</button>
					</td>
					<td v-text="detalle.articulo">                      
					</td>
					<td>
						<input v-model="detalle.precio" type="number" value="3" class="form-control" name="" id="">
					</td>
					<td>
						<input v-model="detalle.cantidad" type="number" value="3" class="form-control" name="" id="">
					</td>
					<td>
						{{ detalle.precio * detalle.cantidad }}
					</td>
					</tr>
					<tr style="background-color: #CEECF5;">
					<td colspan="4" align="right"><strong>Toltal Parcial:</strong></td>
					<td> {{totalParcial=(total-totalImpuesto).toFixed(2)}} </td>
					</tr>                             
					<tr style="background-color: #CEECF5;">
					<td colspan="4" align="right"><strong>Toltal Impuesto:</strong></td>
					<td> {{totalImpuesto=((total*impuesto)/(1+impuesto)).toFixed(2)}} </td>
					</tr>                             
					<tr style="background-color: #CEECF5;">
					<td colspan="4" align="right"><strong>Toltal Neto:</strong></td>
					<td> {{total=calcularTotal}} </td>
					</tr>
				</tbody>
				<tbody v-else>
					<tr>
					<td colspan="5">
						No hay articulos agregados
					</td>
					</tr>
				</tbody>
				</table>
			</div>
			</div>
			<div class="form-group row">
			<div class="col-md-12">
				<button type="button" @click="ocultaDetalle()" class="btn btn-secondary">Cerrar</button>
				<button type="button" class="btn btn-primary" @click="agregarIngreso()">Registrar compra</button>
			</div>                        
			</div>
		</div>       
		</template>      
		<!--Fin de detalle-->
	 
		<!--detalle-->         
		<template v-else-if="listado==2">
		<div class="card-body">
			<div class="form-group row border">
				<div class="col-md-9">
				<div class="form-group">
					<label for="">Proveedor</label>
					<p v-text="proveedor"></p>
				</div>
			</div>                        
			<div class="col-md-3">
				<label for="">Impuesto</label>
				<p v-text="impuesto"></p>
			</div>
			<div class="col-md-4">
				<div class="form-group">                            
				<label>Tipo de comprobante</label> 
				<p v-text="tipo_comprobante"></p>
				</div>                         
			</div>      
			<div class="col-md-4">
				<div class="form-group">
				<label for="">Serie de Comprobante</label>
				<p v-text="serie_comprobante"></p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
				<label for="">Número de comprobante </label>
				<p v-text="num_comprobante"></p>
				</div>
			</div> 
			</div>
			<div class="form-group row border">
			<div class="table-responsive col-md-12">
				<table class="table table-bordered table-striped table-sm">
				<thead>
					<tr>
					<th>Artículo</th>
					<th>Precio</th>
					<th>Cantidad</th>
					<th>Subtotal</th>
					</tr>                             
				</thead>
				<tbody v-if="arrayDetalle.length">
					<tr v-for="detalle in arrayDetalle" :key="detalle.id">
					<td v-text="detalle.articulo">
						
					</td>
					<td v-text="detalle.precio">

					</td>
					<td v-text="detalle.cantidad">

					</td>
					<td>
						{{ detalle.precio * detalle.cantidad }}
					</td>
					</tr>
					<tr style="background-color: #CEECF5;">
					<td colspan="3" align="right"><strong>Toltal Parcial:</strong></td>
					<td> {{totalParcial=(total-totalImpuesto).toFixed(2)}} </td>
					</tr>                             
					<tr style="background-color: #CEECF5;">
					<td colspan="3" align="right"><strong>Toltal Impuesto:</strong></td>
					<td> {{totalImpuesto=(total*impuesto).toFixed(2)}} </td>
					</tr>                             
					<tr style="background-color: #CEECF5;">
					<td colspan="3" align="right"><strong>Toltal Neto:</strong></td>
					<td> {{total}} </td>
					</tr>
				</tbody>
				<tbody v-else>
					<tr>
					<td colspan="4">
						No hay articulos agregados
					</td>
					</tr>
				</tbody>
				</table>
			</div>
			</div>
			<div class="form-group row">
			<div class="col-md-12">
				<button type="button" @click="ocultaDetalle()" class="btn btn-secondary">Cerrar</button>
			</div>                        
			</div>
		</div>
		</template>   
		<!--Fin detalle-->
	</div>               
	<!-- Fin ejemplo de tabla Listado -->
	</div>
	<!--Inicio del modal agregar/actualizar-->
	<div class="modal fade"  tabindex="-1" v-bind:class="{'mostrar':modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-primary modal-lg" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title" v-text="tituloModal"></h4>
			<button type="button" class="close" @click="cerrarModal()" aria-label="Close" >
			<span aria-hidden="true">×</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="form-group row">
			<div class="col-md-6">
				<div class="input-group">
				<select class="form-control col-md-3" v-model="criterioA">
					<option value="nombre">Nombre</option>
					<option value="descripcion">Descripción</option>
					<option value="código">Código</option>
				</select>
				<input type="text" v-model="buscarA" @keyup.enter="listarArticulos(buscarA, criterioA)" class="form-control" placeholder="Texto a buscar">
				<button type="submit" @click="listarArticulos(buscarA, criterioA)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
				</div>
			</div>
			</div>
			<div class="table-responsive">
			<table class="table table-bordered table-striped table-sm">
				<thead>
				<tr>
					<th>Opciones</th>
					<th>Codigo</th>                                   
					<th>Nombre</th>
					<th>Categoria</th>
					<th>Precio de venta</th>
					<th>Stock</th>
					<th>Estado</th>
				</tr>
				</thead>
				<tbody>
				<!-- directivas de Vuejs para mostrar el listado de la tabla articulo -->
				<tr v-for="articulo in arrayArticulo" v-bind:key="articulo.id">
					<td>
					<button type="button" @click="agregarDetalleModal(articulo)" class="btn btn-success btn-sm">
						<i class="icon-check"></i>
					</button>
					</td>
					<td v-text="articulo.codigo"></td>
					<td v-text="articulo.nombre"></td>
					<td v-text="articulo.nombre_categoria"></td>
					<td v-text="articulo.precio_venta"></td>
					<td v-text="articulo.stock"></td>
					<td>
					<div v-if="articulo.condicion==1">
						<span class="badge badge-success">Activo</span>
					</div>
					<div v-else>
						<span class="badge badge-danger">Desactivado</span>
					</div>
					
					</td>
				</tr>                                                                                                                        
				</tbody>
			</table>
			</div>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
			<button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="agregarIngreso()">Guardar</button>
			<button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="modificarIngreso()">Modificar</button>
		</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
	</div>
	<!--Fin del d modal-->  
	</main>
</template>

<script>
import vSelect from 'vue-select';
export default {
	data() {
	return {
		ingreso_id: 0,
		idproveedor: 0,
		proveedor: "",
		idarticulo: 0,
		nombre : '',
		tipo_comprobante:'RUC',
		num_comprobante: '',
		serie_comprobante:'',
		precio:0,
		impuesto: 0.15,
		total: 0.0,
		totalParcial: 0.0,
		totalImpuesto: 0.0,

		arrayIngreso: [],
		arrayDetalle: [],
		arrayProveedor: [],
		cantidad: 0,
		listado:1,

		modal: 0,
		tituloModal: "",
		tipoAccion: 0,
		errorIngreso: 0,
		errorMostrarMsjIngreso: [],
		pagination: {
		total: 0,
		current_page: 0,
		per_page: 0,
		last_page: 0,
		from: 0,
		to: 0
		},
		offset: 3,
		criterio: "num_comprobante",
		buscar: "",
		buscarA:"",
		criterioA:"nombre",
		arrayArticulo: [],
		idarticulo: 0,
		codigo: '',
		articulo:'',
		precio : 0,
		catidad: 0
	};
	},
	components: {
	vSelect
	},
	computed: {
	isActived: function() {
		return this.pagination.current_page;
	},
	//calcula los elementos de la paginacion
	pageNumber: function() {
		if (!this.pagination.to) {
		return [];
		}
		var from = this.pagination.current_page - this.offset;
		if (from < 1) {
		from = 1;
		}
		var to = from + this.offset * 2;
		if (to >= this.pagination.last_page) {
		to = this.pagination.last_page;
		}
		var arrayPage = [];
		while (from <= to) {
		arrayPage.push(from);
		from++;
		}
		return arrayPage;
	},
	calcularTotal: function() {
		var resultado = 0.0;
		for(var i=0 ; i<this.arrayDetalle.length; i++){
		resultado=resultado+(this.arrayDetalle[i].precio*this.arrayDetalle[i].cantidad);
		}
		return resultado;
	}
	},
	methods: {
	//metodo para listar las categorias almacenadas en la tabla persona
	listarIngreso(page, buscar, criterio) {
		let me = this;
		var url =
		"/ingreso?page=" +
		page +
		"&buscar=" +
		buscar +
		"&criterio=" +
		criterio;
		axios
		.get(url)
		.then(function(response) {
		var respuesta = response.data;
		me.arrayIngreso = respuesta.ingresos.data;
		me.pagination = respuesta.pagination;
		})
		.catch(function(error) {
		console.log(error);
		});
	},
	//metodo cambiar pagina
	cambiarPagina(page, buscar, criterio) {
		let me = this;
		//Actualiza la pagina actual
		me.pagination.current_page = page;
		//Envia la peticion para visualizar la data de esa pagina
		me.listarIngreso(page, buscar, criterio);
	},
	selectProveedor(search, loading) {
		let me = this;
		loading(true)
		var url =
		'/proveedor/selectProveedor?filtro='+search;
		axios
		.get(url)
		.then(function(response) {
		let respuesta = response.data;
		q: search;
		me.arrayProveedor = respuesta.proveedores;
		loading(false)
		})
		.catch(function(error) {
		console.log(error);
		});
	},
	getDatosProveedor(val1){
		let me = this;
		me.loading=true;
		me.idproveedor = val1.id;
	},
	buscarArticulo(){
		let me= this;
		var url = '/articulo/buscarArticulo?filtro='+me.codigo;
		axios.get(url).then(function(response) {
		var respuesta = response.data;
		me.arrayArticulo = respuesta.articulos;

		if (me.arrayArticulo.length>0) {
			me.articulo = me.arrayArticulo[0]['nombre'];
			me.idarticulo = me.arrayArticulo[0]['id'];
		} else {
			me.articulo = "No exite articulo";
			me.idarticulo = 0;
		}
		})
		.catch(function(error){
		console.log(error);
		});
	},
	encuentra(id){
		var sw=0;
		for (var i=0; i<this.arrayDetalle.length; i++ ) {
		if (this.arrayDetalle[i].idarticulo==id) {
			sw=true;
		}        
		}
		return sw;
	},
	eliminarDetalle(index){
		let me=this;
		me.arrayDetalle.splice(index,1);
	},
	agregarDetalle(){
		let me=this;

		if (me.idarticulo==0 || me.precio==0 || me.cantidad==0) {
		
		} else {
		if (me.encuentra(me.idarticulo)) {
			swal({
			type: 'error',
			title: 'error...',
			text: 'Ese articulo ya se encuentra agregado!'
			})
		}
		else{
			me.arrayDetalle.push({
			idarticulo : me.idarticulo,
			articulo: me.articulo,
			cantidad: me.cantidad,
			precio: me.precio
			});
		}
		me.codigo="";
		me.idarticulo=0;
		me.articulo="";
		me.cantidad=0;
		me.precio=0;
		}
		
	},
	agregarDetalleModal(data =[]){
		let me = this;
		if (me.encuentra(data['id'])) {
		swal({
			type: 'error',
			title: 'error...',
			text: 'Ese articulo ya se encuentra agregado!'
		})
		}
		else{
		me.arrayDetalle.push({
			idarticulo : data['id'],
			articulo: data['nombre'],
			cantidad: 1,
			precio: 1
		});
		}  
	},
	listarArticulos(buscar, criterio) {
		let me = this;
		var url =
		"/articulo/listarArticulo?buscar=" +
		 buscar +
		"&criterio=" +
		criterio;
		axios
		.get(url)
		.then(function(response) {
		var respuesta = response.data;
		me.arrayArticulo = respuesta.articulos.data;
		})
		.catch(function(error) {
			console.log(error);
		});
	},
	//metodo agregar Ingreso
	agregarIngreso() {
		if (this.validarIngreso()) {
		return;
		}

		let me = this;
		axios
		.post("/ingreso/registrar", {
		idproveedor : this.idproveedor,
		tipo_comprobante : this.tipo_comprobante,
		serie_comprobante : this.serie_comprobante,
		num_comprobante : this.num_comprobante,
		impuesto : this.impuesto,
		total : this.total,
		data : this.arrayDetalle
		})
		.then(function(response) {
		me.listado=1;
		me.listarIngreso(1, " ", "num_comprobante");
		me.idproveedor=0;
		me.tipo_comprobante="RUC";
		me.serie_comprobante="";
		me.num_comprobante="";
		me.impuesto=0.15;
		me.total=0.0;
		me.idarticulo=0;
		me.articulo="";
		me.cantidad=0;
		me.precio=0;
		me.arrayDetalle = [];
		})
		.catch(function(error) {
		console.log(error);
		});
	},
	modificarPersona() {
		if (this.validarIngreso()) {
		return;
		}

		let me = this;
		axios
		.put("/user/actualizar", {
		nombre: this.nombre,
		tipo_documento : this.tipo_documento,
		num_documento : this.num_documento,
		direccion : this.direccion,
		telefono: this.telefono,
		email: this.email,
		usuario: this.usuario,
		password: this.password,
		idrol : this.idrol,
		id: this.persona_id
		})
		.then(function(response) {
		me.cerrarModal();
		me.listarPersona(1, " ", "nombre");
		})
		.catch(function(error) {
		console.log(error);
		});
	},
	mostrarDetalle(){
		let me=this;
		me.listado=0;

		
		me.idproveedor=0;
		me.tipo_comprobante="RUC";
		me.serie_comprobante="";
		me.num_comprobante="";
		me.impuesto=0.15;
		me.total=0.0;
		me.idarticulo=0;
		me.articulo="";
		me.cantidad=0;
		me.precio=0;
		me.arrayDetalle = [];
	},
	ocultaDetalle(){
		this.listado=1;
	},
	verIngreso(id){
		let me = this;
		me.listado=2;
		//Obtener los datos del ingreso 
		var arrayIngresoTemporal = [];
		var url = "/ingreso/obtenerCabecera?id=" + id;
		axios.get(url).then(function(response) {
		var respuesta = response.data;
		arrayIngresoTemporal = respuesta.ingreso;

		me.proveedor = arrayIngresoTemporal[0]['nombre'];
		me.tipo_comprobante = arrayIngresoTemporal[0]['tipo_comprobante'];
		me.serie_comprobante = arrayIngresoTemporal[0]['serie_comprobante'];
		me.num_comprobante = arrayIngresoTemporal[0]['num_comprobante'];
		me.impuesto = arrayIngresoTemporal[0]['impuesto'];
		me.total = arrayIngresoTemporal[0]['total'];

		})
		.catch(function(error) {
		console.log(error);
		});
		//Obtener los datos de los detalles
		var urld = "/ingreso/obtenerDetalle?id=" + id;

		axios.get(urld).then(function(response) {
		var respuesta = response.data;
		me.arrayDetalle = respuesta.detalles;
		})
		.catch(function(error) {
		 console.log(error);
		});
	},
	//metodo para cerrar el modal
	cerrarModal() {
		this.modal = 0;
		this.tituloModal = "";
	},
	validarIngreso() {
		this.errorIngreso = 0;
		this.errorMostrarMsjIngreso = [];
		if(this.idproveedor==0) this.errorMostrarMsjIngreso.push("Debe ingresar un proveedor");
		if(this.tipo_comprobante==0) this.errorMostrarMsjIngreso.push("Seleccione el comprobante");
		if(!this.num_comprobante) this.errorMostrarMsjIngreso.push("Ingrese el número de comprobante");
		if(!this.impuesto) this.errorMostrarMsjIngreso.push("Ingrese el impuesto de compra");
		if(this.arrayDetalle.length<=0) this.errorMostrarMsjIngreso.push("Ingrese el detalle");

		if(this.errorMostrarMsjIngreso.length)  this.errorIngreso = 1;
		return this.errorIngreso;
	},
	//metodo para la ventana emergente
	abrirModal() {
		this.arrayArticulo = [];
		this.modal = 1;
		this.tituloModal = "Seleccione uno o varios articulos";              
		
	},       
	desactivarIngreso(id) {
		swal({
		title: "Esta seguro de anular este ingreso?",

		type: "warning",
		showCancelButton: true,
		confirmButtonColor: "#3085d6",
		cancelButtonColor: "#d33",
		confirmButtonText: "Aceptar",
		cancelButtonText: "Cancelar",
		confirmButtonClass: "btn btn-success",
		cancelButtonClass: "btn btn-danger",
		buttonsStyling: false,
		reverseButtons: true
		}).then(result => {
		if (result.value) {
			let me = this;
			axios
			.put("/ingreso/desactivar", {
			id: id
			})
			.then(function(response) {
			swal(
				"Anulado!",
				"El ingreso ha sido anulado con exito!",
				"success"
				);
			me.listarVenta(1, " ", "num_comprobante");
			})
			.catch(function(error) {
			console.log(error);
			});
		} else if (
			// Read more about handling dismissals
			result.dismiss === swal.DismissReason.cancel
			) {
			swal();
		}
		});
	},
	},
	mounted() {
	this.listarIngreso(1, this.buscar, this.criterio);
	}
};
</script>
<style>
.modal-content {
	width: 100% !important;
	position: absolute !important;
}
.mostrar {
	display: list-item !important;
	opacity: 1 !important;
	position: absolute !important;
	background-color: #3c29297a !important;
}
.div-error {
	display: flex;
	justify-content: center;
}
.text-error {
	color: red !important;
	font-weight: bold;
}
@media (min-width: 600px){
	.btnagregar{
	margin-top: 2rem;
	}
}
</style>