<template>
	<main class="main">
	<!-- Breadcrumb -->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Escritorio</a></li>
	</ol>
	<div class="container-fluid">
		<!-- Ejemplo de tabla Listado -->
		<div class="card">
		<div class="card-header">
			<i class="fa fa-align-justify"></i> Roles
		</div>
		<div class="card-body">
			<div class="form-group row">
			<div class="col-md-6">
				<div class="input-group">
				<select class="form-control col-md-3" v-model="criterio">
					<option value="nombre">Nombre</option>
					<option value="descripcion">Descripción</option>
				</select>
				<input type="text" v-model="buscar" @keyup.enter="listarRoles(1, buscar, criterio)" class="form-control" placeholder="Texto a buscar">
				<button type="submit" @click="listarRoles(1, buscar, criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
				</div>
			</div>
			</div>
			<div class="table-responsive">
			<table class="table table-bordered table-striped table-sm">
				<thead>
				<tr>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Estado</th>
				</tr>
				</thead>
				<tbody>
				<!-- directivas de Vuejs para mostrar el listado de la tabla categoria -->
				<tr v-for="rol in arrayRol" v-bind:key="rol.id">
					<td v-text="rol.nombre"></td>
					<td v-text="rol.descripcion"></td>
					
					<td>
					<div v-if="rol.condicion==1">
						<span class="badge badge-success">Activo</span>
					</div>
					<div v-else>
						<span class="badge badge-danger">Desactivado</span>
					</div>
					
					</td>
				</tr>                                                                                                                        
				</tbody>
			</table>
			</div>
			<nav>
			<ul class="pagination">
				<li class="page-item" v-if="pagination.current_page > 1">
				<a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1 , buscar , criterio)">Ant</a>
				</li>
				<li class="page-item " v-for="page in pageNumber" v-bind:key="page" :class="[page == isActived  ? 'active' : '']">
				<a class="page-link" href="#" @click.prevent="cambiarPagina(page, buscar, criterio)" v-text="page"></a>
				</li>
				<li class="page-item" v-if="pagination.current_page < pagination.last_page">
				<a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1 , buscar, criterio)">Sig</a>
				</li>
			</ul>
			</nav>
		</div>
		</div>
		<!-- Fin ejemplo de tabla Listado -->
	</div>           
	</main>
</template>

<script>
export default {
	data() {
	return {
		nombre: "",
		descripcion: "",
		arrayRol: [],
		modal: 0,
		tituloModal: "",
		tipoAccion: 0,
		pagination: {
		total: 0,
		current_page: 0,
		per_page: 0,
		last_page: 0,
		from: 0,
		to: 0
		},
		offset: 3,
		criterio: "nombre",
		buscar: ""
	};
	},
	computed: {
	isActived: function() {
		return this.pagination.current_page;
	},
	//calcula los elementos de la paginacion
	pageNumber: function() {
		if (!this.pagination.to) {
		return [];
		}
		var from = this.pagination.current_page - this.offset;
		if (from < 1) {
		from = 1;
		}
		var to = from + this.offset * 2;
		if (to >= this.pagination.last_page) {
		to = this.pagination.last_page;
		}
		var arrayPage = [];
		while (from <= to) {
		arrayPage.push(from);
		from++;
		}
		return arrayPage;
	}
	},
	methods: {
	//
	//metodo para listar las categorias almacenadas en la tabla categoria
	listarRoles(page, buscar, criterio) {
		let me = this;
		var url =
		"/rol?page=" +
		page +
		"&buscar=" +
		buscar +
		"&criterio=" +
		criterio;
		axios
		.get(url)
		.then(function(response) {
		var respuesta = response.data;
		me.arrayRol = respuesta.rol.data;
		me.pagination = respuesta.pagination;
		})
		.catch(function(error) {
		console.log(error);
		});
	},
	//metodo cambiar pagina
	cambiarPagina(page, buscar, criterio) {
		let me = this;
		//Actualiza la pagina actual
		me.pagination.current_page = page;
		//Envia la peticion para visualizar la data de esa pagina
		me.listarRoles(page, buscar, criterio);
	}
	},
	mounted() {
	this.listarRoles(1, this.buscar, this.criterio);
	}
};
</script>
<style>
.modal-content {
	width: 100% !important;
	position: absolute !important;
}
.mostrar {
	display: list-item !important;
	opacity: 1 !important;
	position: absolute !important;
	background-color: #3c29297a !important;
}
.div-error {
	display: flex;
	justify-content: center;
}
.text-error {
	color: red !important;
	font-weight: bold;
}
</style>

