<template>
	<main class="main">
	<!-- Breadcrumb -->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Escritorio</a></li>
	</ol>
	<div class="container-fluid">
		<!-- Ejemplo de tabla Listado -->
		<div class="card">
		<div class="card-header">
			<i class="fa fa-align-justify"></i> Usuarios
			<button type="button" @click="abrirModal('persona','registrar')" class="btn btn-secondary">
			<i class="icon-plus"></i>&nbsp;Nuevo
			</button> 
		</div>
		<div class="card-body">
			<div class="form-group row">
			<div class="col-md-6">
				<div class="input-group">
				<select class="form-control col-md-3" v-model="criterio">
					<option value="nombre">Nombre</option>
					<option value="num_documento">Cedula de Identidad</option>
					<option value="telefono">Telefono</option>
					<option value="email">Email</option>
				</select>
				<input type="text" v-model="buscar" @keyup.enter="listarPersona(1, buscar, criterio)" class="form-control" placeholder="Texto a buscar">
				<button type="submit" @click="listarPersona(1, buscar, criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
				</div>
				
			</div>
			</div>
			<div class="table-responsive">
			<table class="table table-bordered table-striped table-sm">
				<thead>
				<tr>
					<th>Opciones</th>
					<th>Nombre</th>
					<th>Tipo Documento</th>                                   
					<th>Numero Documento</th>
					<th>Direccion</th>
					<th>Telefono</th>
					<th>Email</th>
					<th>Usuario</th>
					<th>Rol</th>                                    
				</tr>
				</thead>
				<tbody>
				<!-- directivas de Vuejs para mostrar el listado de la tabla articulo -->
				<tr v-for="persona in arrayPersona" v-bind:key="persona.id">
					<td>
					<button type="button" @click="abrirModal('persona','modificar',persona)" class="btn btn-warning btn-sm">
						<i class="icon-pencil"></i>
					</button> &nbsp;
					
					<template v-if="persona.condicion">
						<button type="button" class="btn btn-danger btn-sm" @click="desactivarUsuario(persona.id)">
						<i class="icon-trash"></i>
						</button>                                                                                                                                 
					</template>
					<template v-else>
						<button type="button" class="btn btn-info btn-sm" @click="activarUsuario(persona.id)">
						<i class="icon-check"></i>
						</button>                                            
					</template>
					</td>
					<td v-text="persona.nombre"></td>
					<td v-text="persona.tipo_documento"></td>
					<td v-text="persona.num_documento"></td>
					<td v-text="persona.direccion"></td>
					<td v-text="persona.telefono"></td>
					<td v-text="persona.email"></td>
					<td v-text="persona.usuario"></td>
					<td v-text="persona.rol"></td>
				</tr>                                                                                                                        
				</tbody>
			</table>
			</div>
			<nav>
			<ul class="pagination">
				<li class="page-item" v-if="pagination.current_page > 1">
				<a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1 , buscar , criterio)">Ant</a>
				</li>
				<li class="page-item " v-for="page in pageNumber" v-bind:key="page" :class="[page == isActived  ? 'active' : '']">
				<a class="page-link" href="#" @click.prevent="cambiarPagina(page, buscar, criterio)" v-text="page"></a>
				</li>
				<li class="page-item" v-if="pagination.current_page < pagination.last_page">
				<a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1 , buscar, criterio)">Sig</a>
				</li>
			</ul>
			</nav>
		</div>
		</div>
		<!-- Fin ejemplo de tabla Listado -->
	</div>
	<!--Inicio del modal agregar/actualizar-->
	<div class="modal fade"  tabindex="-1" v-bind:class="{'mostrar':modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-primary modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h4 class="modal-title" v-text="tituloModal"></h4>
			<button type="button" class="close" @click="cerrarModal()" aria-label="Close" >
				<span aria-hidden="true">×</span>
			</button>
			</div>
			<div class="modal-body">
			<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

				<div class="form-group row">
				<label class="col-md-3 form-control-label" for="text-input">Nombre</label>
				<div class="col-md-9">
					<input type="text" v-model="nombre" class="form-control" placeholder="Nombre de la persona">
					
				</div>
				</div>
				<div class="form-group row">
				<label class="col-md-3 form-control-label" for="text-input">tipo de documento</label>
				<div class="col-md-9">
					
					<select type="text" v-model="tipo_documento" class="form-control" >
					<option value="Cedula de Identidad">Cedula de Identidad</option>
					<option value="Pasaporte">Pasaporte</option>
					<option value="RUC">RUC</option>

					</select>
				</div>
				</div>  
				<div class="form-group row">
				<label class="col-md-3 form-control-label" for="text-input">Numero de documento</label>
				<div class="col-md-9">
					<input type="text" v-model="num_documento" class="form-control" v-mask="'999-999999-9999A'">
					
				</div>
				</div> 
				<div class="form-group row">
				<label class="col-md-3 form-control-label" for="text-input">Direccion</label>
				<div class="col-md-9">
					<input type="text" v-model="direccion" class="form-control" placeholder="Direccion" >
				</div>                                    
				</div>
				<div class="form-group row">
				<label class="col-md-3 form-control-label" for="text-input">Telefono</label>
				<div class="col-md-9">
					<input type="text" v-model="telefono" class="form-control" v-mask="'9999-9999'">
				</div>                                    
				</div>
				<div class="form-group row">
				<label class="col-md-3 form-control-label" for="text-input">Email</label>
				<div class="col-md-9">
					<input type="email" v-model="email" class="form-control" placeholder="Email" >
				</div>                                    
				</div>
				<div class="form-group row">
				<label class="col-md-3 form-control-label" for="text-input">Rol (*)</label>
				<div class="col-md-9">
					<select class="form-control" v-model="idrol">
					<option value="0" disabled>Seleccione un rol</option>
					<option v-for="rol in arrayRol" v-bind:key="rol.id" v-bind:value="rol.id" v-text="rol.nombre"></option>
					</select>
				</div>                                    
				</div>
				<div class="form-group row">
				<label class="col-md-3 form-control-label" for="text-input">Usuario (*)</label>
				<div class="col-md-9">
					<input type="text" v-model="usuario" class="form-control" placeholder="Nombre del Usuario" >
				</div>                                    
				</div>
				<div class="form-group row">
				<label class="col-md-3 form-control-label" for="text-input">Password (*)</label>
				<div class="col-md-9">                  
					<vue-password v-model="password"
					 classes="input"
					 :strengthMessages="['Muy débil', 'Débil', 'Medio', 'Fuerte', 'Muy fuerte']"
					 >
					</vue-password>                                
				</div>                                    
				</div>
				<div v-show="errorPersona" class="form-group row div-error">
				<div class="text-center text-error">
					<div v-for="error in errorMostrarMsjPersona" v-bind:key="error" v-text="error" >

					</div>
				</div>
				</div>
			</form>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
			<button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="agregarPersona()">Guardar</button>
			<button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="modificarPersona()">Modificar</button>
			</div>
		</div>
		<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!--Fin del d modal-->
	
	</main>
</template>

<script>
import VuePassword from 'vue-password';
Vue.component(VuePassword)
import Vue from 'vue';
const VueInputMask = require('vue-inputmask').default
Vue.use(VueInputMask)
export default {
	data() {
	return {
		persona_id: 0,
		nombre : '',
		tipo_documento:'Cedula de Identidad',
		num_documento:'',
		direccion: '',
		telefono:'',
		email:'',
		usuario: '',
		password:'',
		idrol: 0,

		arrayPersona: [],
		arrayRol: [],
		modal: 0,
		tituloModal: "",
		tipoAccion: 0,
		errorPersona: 0,
		errorMostrarMsjPersona: [],
		pagination: {
		total: 0,
		current_page: 0,
		per_page: 0,
		last_page: 0,
		from: 0,
		to: 0
		},
		offset: 3,
		criterio: "nombre",
		buscar: "",
	};
	},
	components: {
	VuePassword
	},
	computed: {
	isActived: function() {
		return this.pagination.current_page;
	},
	//calcula los elementos de la paginacion
	pageNumber: function() {
		if (!this.pagination.to) {
		return [];
		}
		var from = this.pagination.current_page - this.offset;
		if (from < 1) {
		from = 1;
		}
		var to = from + this.offset * 2;
		if (to >= this.pagination.last_page) {
		to = this.pagination.last_page;
		}
		var arrayPage = [];
		while (from <= to) {
		arrayPage.push(from);
		from++;
		}
		return arrayPage;
	}
	},
	methods: {
	//metodo para listar las categorias almacenadas en la tabla persona
	listarPersona(page, buscar, criterio) {
		let me = this;
		var url =
		"/user?page=" +
		page +
		"&buscar=" +
		buscar +
		"&criterio=" +
		criterio;
		axios
		.get(url)
		.then(function(response) {
		var respuesta = response.data;
		me.arrayPersona = respuesta.persona.data;
		me.pagination = respuesta.pagination;
		})
		.catch(function(error) {
		console.log(error);
		});
	},
	//metodo cambiar pagina
	cambiarPagina(page, buscar, criterio) {
		let me = this;
		//Actualiza la pagina actual
		me.pagination.current_page = page;
		//Envia la peticion para visualizar la data de esa pagina
		me.listarPersona(page, buscar, criterio);
	},
	selectRol() {
		let me = this;
		var url =
		'/rol/selectRol';
		axios
		.get(url)
		.then(function(response) {
		var respuesta = response.data;
		me.arrayRol = respuesta.rol;
		})
		.catch(function(error) {
		console.log(error);
		});
	},
	//metodo agregar persona
	agregarPersona() {
		if (this.validarPesona()) {
		return;
		}
		//
		let me = this;
		axios
		.post("/user/registrar", {
		nombre: this.nombre,
		tipo_documento:this.tipo_documento,
		num_documento:this.num_documento,
		direccion:this.direccion,
		telefono: this.telefono,
		email: this.email,
		usuario: this.usuario,
		password: this.password,
		idrol : this.idrol
		})
		.then(function(response) {
		me.cerrarModal();
		me.listarPersona(1, " ", "nombre");
		})
		.catch(function(error) {
		console.log(error);
		});
	},
	modificarPersona() {
		if (this.validarPesona()) {
		return;
		}

		let me = this;
		axios
		.put("/user/actualizar", {
		nombre: this.nombre,
		tipo_documento : this.tipo_documento,
		num_documento : this.num_documento,
		direccion : this.direccion,
		telefono: this.telefono,
		email: this.email,
		usuario: this.usuario,
		password: this.password,
		idrol : this.idrol,
		id: this.persona_id
		})
		.then(function(response) {
		me.cerrarModal();
		me.listarPersona(1, " ", "nombre");
		})
		.catch(function(error) {
		console.log(error);
		});
	},
	//metodo para cerrar el modal
	cerrarModal() {
		this.modal = 0;
		this.tituloModal = "";
		this.nombre="";
		this.tipo_documento="";
		this.num_documento="";
		this.direccion="";
		this.telefono="";
		this.email="";
		this.usuario="";
		this.password="";
		this.idrol= 0;
		this.errorPersona=0;
	},
	validarPesona() {
		this.errorPersona = 0;
		this.errorMostrarMsjPersona = [];

		if (!this.nombre)
		this.errorMostrarMsjPersona.push(
			"Error debe ingresar el nombre de la persona!"
			);
		if (!this.usuario) {
		this.errorMostrarMsjPersona.push(
			"Error debe ingresar un nombre de usario!"
			)
		}
		// if (!this.password) {
		//   this.errorMostrarMsjPersona.push(
		//     "Error debe ingresar una contraseña para el usuario!"
		//    )
		// }
		if (this.idrol==0) {
		"Error debe seleccionar un rol para el usuario"
		}

		if (this.errorMostrarMsjPersona.length) this.errorPersona = 1;

		return this.errorPersona;
	},

	//metodo para la ventana emergente
	abrirModal(modelo, accion, data = []) {
		
		switch (modelo) {
		case "persona": {
			switch (accion) {
			case "registrar": {
				this.modal = 1;
				this.tituloModal = "Agregar Usuario";              
				this.nombre = "";
				this.tipo_documento="Cedula de Identidad";
				this.num_documento="";
				this.direccion = "";
				this.telefono="";
				this.email="";
				this.usuario="";
				this.password="";
				this.idrol = 0;
				this.tipoAccion = 1;
				break;
			}
			case "modificar": {
				this.modal = 1;
				this.tituloModal = "Actualizar Usuario";
				this.tipoAccion = 2;
				this.persona_id = data["id"];
				this.nombre = data["nombre"];
				this.tipo_documento = data["tipo_documento"];
				this.num_documento = data["num_documento"];
				this.direccion = data["direccion"];
				this.telefono = data["telefono"];
				this.email = data["email"];
				this.usuario = data["usuario"];
				this.password = data["password"]
				this.idrol = data["idrol"];
				console.log(data);
				break;
			}
			}
		}
		}
		this.selectRol();
	},
	
	// 
	desactivarUsuario(id) {
		swal({
		title: "Esta seguro de desactivar este Usuario?",

		type: "warning",
		showCancelButton: true,
		confirmButtonColor: "#3085d6",
		cancelButtonColor: "#d33",
		confirmButtonText: "Aceptar",
		cancelButtonText: "Cancelar",
		confirmButtonClass: "btn btn-success",
		cancelButtonClass: "btn btn-danger",
		buttonsStyling: false,
		reverseButtons: true
		}).then(result => {
		if (result.value) {
			let me = this;
			axios
			.put("/user/desactivar", {
			id: id
			})
			.then(function(response) {
			swal(
				"Desactivado!",
				"El registro ha sido desactivado con exito!",
				"success"
				);
			me.listarPersona(1, " ", "nombre");
			})
			.catch(function(error) {
			console.log(error);
			});
		} else if (
			// Read more about handling dismissals
			result.dismiss === swal.DismissReason.cancel
			) {
			swal();
		}
		});
	},
	activarUsuario(id) {
		swal({
		title: "Esta seguro de activar este Usuario?",

		type: "warning",
		showCancelButton: true,
		confirmButtonColor: "#3085d6",
		cancelButtonColor: "#d33",
		confirmButtonText: "Aceptar",
		cancelButtonText: "Cancelar",
		confirmButtonClass: "btn btn-success",
		cancelButtonClass: "btn btn-danger",
		buttonsStyling: false,
		reverseButtons: true
		}).then(result => {
		if (result.value) {
			let me = this;
			axios
			.put("/user/activar", {
			id: id
			})
			.then(function(response) {
			swal(
				"Activado!",
				"El registro ha sido activado con exito!",
				"success"
				);
			me.listarPersona(1, " ", "nombre");
			})
			.catch(function(error) {
			console.log(error);
			});
		} else if (
			// Read more about handling dismissals
			result.dismiss === swal.DismissReason.cancel
			) {
			swal();
		}
		});
	}
	},
	mounted() {
	this.listarPersona(1, this.buscar, this.criterio);
	}
};
</script>

<style>
.modal-content {
	width: 100% !important;
	position: absolute !important;
}
.mostrar {
	display: list-item !important;
	opacity: 1 !important;
	position: absolute !important;
	background-color: #3c29297a !important;
}
.div-error {
	display: flex;
	justify-content: center;
}
.text-error {
	color: red !important;
	font-weight: bold;
}

.modal-dialog{
	overflow-y: initial !important
}
.modal-body{
	height: 450px;
	overflow-y: auto;
}

</style>